<div ui-view>
    <div class="content-header">
        <div class="content-header-block">
            <div class="content-title">Activity Feed</div>
            <div class="content-tagline">View latest changes and activities</div>
        </div>
    </div>

    <div class="row">
        <div class="content-section container-fluid">
            <div class="dashbox dashbox-content">
                FILTERS HERE
            </div>
        </div>
    </div>
    <div class="row" id="{{dategroup.dateid}}" ng-repeat="dategroup in feeditemdetails" ng-click="dategroup.isCollapsed = !dategroup.isCollapsed">
        <div class="dashbox-title">{{dategroup.date}}</div>
        <div class="dashbox dashbox-content" collapse="dategroup.isCollapsed">
        <!-- <div class="content-section container-fluid" id={{datagroup.dateid}}"> -->
            <div ng-repeat="feeditem in dategroup.items">
              <a href="/admin/candidates/{{feeditem.userid}}">{{feeditem.name}}</a> {{feeditem.action}} {{feeditem.target}}<br />
          </div>
        </div>
    </div>
            <!-- <div class="dashbox-title">{{dategroup.date}}</div>
            <div class="dashbox dashbox-content" ng-click="toggleShow({{rollupId}})">
                <div id="{{rollupId}}">
                    <div ng-repeat="feeditemdetail in feeditemdetails" ng-show="feeditemdetail.showThis">
                        <a href="/admin/candidates/{{feeditemdetail.userid}}">{{feeditemdetail.name}}</a> {{feeditemdetail.action}} {{feeditemdetail.target}}

                    </div>
                </div>
            </div>
            <div class="dashbox dashbox-content">
                <a href="/admin/candidates/53b4c6e12595bcdc07a854dc">Chris Oliver</a> changed job search status to Early
            </div>
            <div class="dashbox dashbox-content">
                <a href="/admin/candidates/53b4c6e12595bcdc07a854dc">Chris Oliver</a> completed profile
            </div>
            <div class="dashbox dashbox-content">
                <a href="/admin/candidates/53b4c6e12595bcdc07a854dc">Chris Oliver</a> logged in for the first time
            </div>
        </div>
    </div> -->
</div>

