<div ui-view>
    <div class="content-header">
        <div class="content-header-block">
            <div class="content-title">Activity Feed</div>
            <div class="content-tagline">View latest changes and activities</div>
        </div>
    </div>

    <div class="row">
        <div class="content-section container-fluid">
            <div class="dashbox dashbox-content">
                FILTERS HERE
            </div>
        </div>
    </div>
    <div class="row" id="{{dategroup.dateid}}" ng-repeat="dategroup in feeditemdetails" ng-click="dategroup.isCollapsed = !dategroup.isCollapsed">
        <div class="dashbox-title">{{dategroup.date}}</div>
        <div class="dashbox dashbox-content" collapse="dategroup.isCollapsed">
        <!-- <div class="content-section container-fluid" id={{datagroup.dateid}}"> -->
            <div ng-repeat="users in dategroup.items">
                <div ng-repeat="(action,useractions) in users">
                    <div ng-repeat="useraction in useractions">
                        <a href="/admin/candidates/{{useraction.userid}}">{{useraction.userDisplayName}}</a> {{action}}: <a href="somemapping">{{useraction.targetDisplayName}}</a> <br />
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>

