<div ui-view>
    <div class="content-header">
        <div class="content-header-block">
            <div class="content-title">Activity Feed</div>
            <div class="content-tagline">View latest changes and activities</div>
        </div>
    </div>

    <div class="row">
        <div class="content-section container-fluid">
            <div class="dashbox dashbox-content">
                FILTERS HERE
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content-section container-fluid">
            <div class="dashbox-title">Thu Aug 14</div>
            <div class="dashbox dashbox-content">
                Chris Oliver declared interest for 20 new opportunities
            </div>
            <div class="dashbox dashbox-content">
                Chris Oliver completed profile
            </div>
            <div class="dashbox dashbox-content">
                Chris Oliver logged in for the first time
            </div>
        </div>
    </div>
</div>

